<footer>
    <div class="navbar navbar-default footer" id="footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
                    <h3> Contact Us </h3>
                    <ul>
                        <li>
                            Tramp Offices <br> <a href="http://maps.google.com/?q=111%20S%20Jackson%20St,%20Seattle,%20WA%2098104" target="_blank">111 S. Jackson St.<br> Seattle, WA 98104 </a>
                        </li>
                        <li>
                            Phone: 206-555-6789
                        </li>
                        <li>
                            Fax: 206-555-4321
                        </li>
                        <li>
                            <a href="mailto:admin@trampwalkers.com">admin@trampwalkers.com</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
                    <h3> Tramp </h3>
                    <ul>
                        <li>
                            <a href="#about"> About Us </a>
                        </li>
                        <li>
                            <a href="#walkers"> Featured Walkers </a>
                        </li>
                        <li>
                            <a href="#reviews"> Reviews </a>
                        </li>
                        <li>
                            <a href="#faq"> F.A.Q. </a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
                    <h3> Links </h3>
                    <ul>
                        <li>
                            <a href="#"> Terms of Use </a>
                        </li>
                        <li>
                            <a href="#"> Privacy Policy </a>
                        </li>
                        <li>
                            <a href="#"> Affiliate Program </a>
                        </li>
                        <li>
                            <a href="#"> Careers </a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 ">
                    <h3> Newsletter </h3>
                    <ul>
                        <li>
                            <div class="input-append newsletter-box text-center">
                                <input type="text" class="full text-center" placeholder="Email ">
                                <button class="btn bg-beige newsletter" type="button"><small> Get the Monthly Bark! </small><i class="fa fa-long-arrow-right"> </i> </button>
                            </div>
                        </li>
                    </ul>
                    <ul class="social">
                        <li>
                            <a href="#"> <i class=" fa fa-facebook">   </i> </a>
                        </li>
                        <li>
                            <a href="#"> <i class="fa fa-twitter">   </i> </a>
                        </li>
                        <li>
                            <a href="#"> <i class="fa fa-google-plus">   </i> </a>
                        </li>
                        <li>
                            <a href="#"> <i class="fa fa-pinterest">   </i> </a>
                        </li>
                        <li>
                            <a href="#"> <i class="fa fa-youtube">   </i> </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-bottom">
        <div class="container">
            <p class="pull-left"><small> Copyright © Tramp 2017. All right reserved.</small></p>
            <div class="pull-right">
                <ul class="nav nav-pills payments">
                    <li>
                        <i class="fa fa-cc-visa"></i>
                    </li>
                    <li>
                        <i class="fa fa-cc-mastercard"></i>
                    </li>
                    <li>
                        <i class="fa fa-cc-amex"></i>
                    </li>
                    <li>
                        <i class="fa fa-cc-paypal"></i>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
