<body>

</div>
  <div class="container">
    <section id="intro" class="intro-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div id="bootstrap-touch-slider" class="carousel bs-slider slide  control-round indicators-line" data-ride="carousel" data-pause="hover" data-interval="5000">

                        <ol class="carousel-indicators">
                            <li data-target="#bootstrap-touch-slider" data-slide-to="0" class="active"></li>
                            <li data-target="#bootstrap-touch-slider" data-slide-to="1"></li>
                            <li data-target="#bootstrap-touch-slider" data-slide-to="2"></li>
                        </ol>

                        <div class="carousel-inner" role="listbox">

                            <div class="item active">

                                <img src="https://images.pexels.com/photos/237692/pexels-photo-237692.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb" alt="Bootstrap Touch Slider" class="slide-image" />
                                <div class="bs-slider-overlay"></div>

                                <div class="container">
                                    <div class="row">
                                        <!-- Slide Text Layer -->
                                        <div class="slide-text slide_style_left">
                                            <h1 data-animation="animated zoomInRight">Big words</h1>
                                            <p data-animation="animated fadeInLeft">Little words.</p>
                                            <a data-toggle="modal" data-target="#at-login" class="btn btn-default" data-animation="animated fadeInLeft">Login</a>
                                            <a data-toggle="modal" data-target="#at-signup" class="btn btn-primary" data-animation="animated fadeInRight">Register</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="item">

                                <img src="https://www.cesarsway.com/sites/newcesarsway/files/styles/large_article_preview/public/How-to-find-the-right-dog-walker.jpg?itok=4voRy6xC" alt="Bootstrap Touch Slider" class="slide-image" />
                                <div class="bs-slider-overlay"></div>
                                <!-- Slide Text Layer -->
                                <div class="slide-text slide_style_center">
                                    <h1 data-animation="animated flipInX">Big words</h1>
                                    <p data-animation="animated lightSpeedIn">Little words.</p>
                                    <a data-toggle="modal" data-target="#at-login" class="btn btn-default" data-animation="animated fadeInUp">Login</a>
                                    <a data-toggle="modal" data-target="#at-signup" class="btn btn-primary" data-animation="animated fadeInDown">Register</a>
                                </div>
                            </div>

                            <div class="item">
                                <img src="https://twistedsifter.files.wordpress.com/2016/04/dog-walker-takes-daily-pack-pics-for-the-owners-by-walkpro-leash-21.jpg?w=800&h=432" alt="Bootstrap Touch Slider" class="slide-image" />
                                <div class="bs-slider-overlay"></div>
                                <div class="slide-text slide_style_right">
                                    <h1 data-animation="animated zoomInLeft">Big Words</h1>
                                    <p data-animation="animated fadeInRight">Little words.</p>
                                    <a data-toggle="modal" data-target="#at-login" class="btn btn-default" data-animation="animated fadeInLeft">Login</a>
                                    <a data-toggle="modal" data-target="#at-signup" class="btn btn-primary" data-animation="animated fadeInRight">Register</a>
                                </div>
                            </div>
                        </div>
                        <a class="left carousel-control" href="#bootstrap-touch-slider" role="button" data-slide="prev">
                            <span class="fa fa-angle-left" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>

                        <a class="right carousel-control" href="#bootstrap-touch-slider" role="button" data-slide="next">
                            <span class="fa fa-angle-right" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>

                    </div>
                    <!-- End  bootstrap-touch-slider Slider -->
                </div>
            </div>
        </div>
    </section>
  </div>

<main>
    <!-- About Section -->
  <div class="container">
    <section id="about" class="about-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>About Tramp</h2>
                    <br>
                    <p>
                        Working late to finish a project? In early for a meeting? Running errands on lunch?
                        You can’t always know when you might have a ‘ruff’ day, but you can count on us to have you covered.
                        <br> Our network connects independent dog walking professionals with loving pet owners, to make sure your pup gets attention when you can’t be there.
                    </p>
                    <br><br>
                    <p>
                        Sign up now to be a part of an organization that connects pet care professionals with pet owners looking out for their fur-babies.
                    </p>
                </div>
            </div>
        </div>
    </section>
</div>
    <!-- Walkers Section -->
  <div class="container">
    <section id="walkers" class="walkers-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Featured Walkers</h2>
                    <div class="col-lg-12">
                        <div class="row-featured">
                          <div class="col-md-4">
                            		<div>
                        				<img src="http://leagueofcomicgeeks.com/people/media/avatars/large/283-andrew-lincoln.jpg" height="200" width="200" alt="..." class="img-circle img-thumbnail">
                        				<h4>Rick Grimes</h4>
                        				<p class="walker">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        				tempor incididunt ut labore et dolore magna aliqua.</p>
                        				<a href="#" class="btn btn-primary btn-sm" title="profile-1">Rick</a>
                        			</div>
                        		</div>

                        		<div class="col-md-4">
                        			<div>
                        				<img src="https://pbs.twimg.com/profile_images/413499146067513344/CC5pE6O0.jpeg" height="200" width="200" alt="..." class="img-circle img-thumbnail">
                        				<h4>Maggie Greene</h4>
                        				<p class="walker">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        				tempor incididunt ut labore et dolore magna aliqua.</p>
                        				<a href="#" class="btn btn-primary btn-sm" title="profile-2">Maggie</a>
                        			</div>
                        		</div>

                        		<div class="col-md-4">
                        			<div>
                        				<img src="https://pbs.twimg.com/profile_images/486217397737508864/GV2X3a8G.jpeg" height="200" width="200" alt="..." class="img-circle img-thumbnail">
                        				<h4>Glenn Rhee</h4>
                        				<p class="walker">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        				tempor incididunt ut labore et dolore magna aliqua.</p>
                        				<a href="#" class="btn btn-primary btn-sm" title="profile-3">Glenn</a>
                        			</div>
                        		</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
  </div>

    <!-- Services Section -->
  <div class="container">
    <section id="reviews" class="reviews-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                        <h2 class="text-center">Tails are Wagging!</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>
                </div>
              </div>
    </section>
  </div>

    <!-- FAQ Section -->
    <div class="container">
    <section id="faq" class="faq-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">

                    <h1>F.A.Q.</h1>
                    <p>Tramp is a Software as a Service Provider that provides an application independent dog walkers to manage their business and cliental.  Each independent dog walker is responsible for providing license, insurance, and background checks information as requested by the client.  Each owner client is responsible for verifying information before booking services.  Tramp does provide easy on click redirect to background check services and reviews.
                    </p>
                  </p>
                </div>
            </div>
        </div>
    </section>
  </div>
</main>
</body>
