.navbar img {
  height: 60px;
  width: auto;
  position: fixed;
}

@media (min-width: 700px) {
  .navbar {
    padding: 0px 0;
    -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
    transition: background .5s ease-in-out,padding .5s ease-in-out;
  }
  .top-nav-collapse {
    padding: 0;
  }
}
